<form [formGroup]="loginForm">
    <div class="form-horizontal view policy gen-info">
        <div class="form-group policy-details">
            <div class="col-sm-4">
                <label class="col-md-6" for="Obligee">Obligee<span>*</span></label>
                <div class="col-md-6">
                  <input title="" type="text" autocompleteOff maxlength="100" id="Obligee"
                    class="form-control">
                </div>
              </div>
        </div>
    </div>
</form>