<div class="panel panel-default">
    <div class="panel-collapse collapse in">
        <div class="panel-body">
            <form [formGroup]="loginForm">
                <div class="form-horizontal view policy gen-info">
                    <div class="form-group policy-details">
                        <div class="col-sm-4">
                            <label class="col-md-6" for="Gender">Select Gender</label>
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input  type="radio" id="Gender" formControlName="Gender" 
                                            class="form-control" [value]="1">Male</label>
                                <label class="radio-inline radio-button">
                                    <input type="radio" id="Gender" formControlName="Gender" 
                                            class="form-control" [value]="2">FeMale</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-md-6" for="Name">Name<span>*</span></label>
                            <div class="col-md-6">
                                <input placeholder="Enter Full Name" type="text" autocompleteOff
                                    maxlength="100" id="Name" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>