*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color:blue;
    color:#fff;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;;   
}
header .button {
    top:20px;
    right: 50px;
    margin-top: 10px;
    margin-right: 10px; 
    
}
.button a {
    background-color:chocolate;
    padding: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    color:#fff;
    box-shadow: 2px 5px 5px gray;
}